<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th>Field</th>
      <th>Opponent</th>
      <th>Result</th>
      {{#if isMainScreen}}
        <th></th>
      {{else}}
        <th>Attending?</th>
      {{/if}}
    </tr>
  </thead>
  {{#each games.jsonById}}
    <tr class="js-game-player-row {{setAttendingClass isAttending}} {{#if result}} game-played{{/if}}">
      <td>{{week}}</td>
      <td>
        {{formatDate dateTime}}
      </td>
      <td>
        {{field}}
      </td>
      <td>
        {{opponent}}
      </td>
      <td>{{result}}</td>
      <td>
      {{#if ../isEditView}}
        <button class="btn btn-success js-player-yes-btn" data-game-id="{{../id}}" data-player-id="{{../../playerId}}">Yes</button>
        <button class="btn btn-danger js-player-no-btn" data-game-id="{{../id}}" data-player-id="{{../../playerId}}">No</button>
      {{else}}
          <a href="./player.html#playerid={{id}}" class="btn btn-primary js-update-player-btn" data-player-id={{id}}>{{../isGameView}}View</a>
      {{/if}}
      </td>
    </tr>
  {{/each}}
</table>