<table class="table table-striped table-bordered player-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="td-center">#</th>
      {{#if isGameView}}
        <th class="td-center">Attending?</th>
      {{else}}
        <th></th>
      {{/if}}
    </tr>
  </thead>
  {{#each players.jsonById}}
    <tr class="js-game-player-row {{setAttendingClass isAttending}}">
      <td>
        {{lastName}}, {{firstName}} 
      </td>
      <td class="td-center">
        {{number}}
      </td>
      <td class="td-actions">
      {{#if ../isGameView}}
        <button class="btn btn-success js-player-yes-btn" data-game-id="{{../../gameId}}" data-player-id="{{../id}}">Yes</button>
        <button class="btn btn-danger js-player-no-btn" data-game-id="{{../../gameId}}" data-player-id="{{../id}}">No</button>
      {{else}}
          <a href="./player.html#playerid={{id}}" class="btn btn-primary js-update-player-btn" data-player-id={{id}}>{{../isGameView}}Update</a>
      {{/if}}
      </td>
    </tr>
  {{/each}}
</table>